/* All pages have different background image*/

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747777_960_720.jpg");
}

.about-bg {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/05/15/07/concrete-1646788_960_720.jpg");
}

.art-bg {
    background-image: url("https://cdn.pixabay.com/photo/2021/08/18/19/26/background-6556414_960_720.jpg");
}

.job-bg {
    background-image: url("https://cdn.pixabay.com/photo/2019/11/12/18/44/white-4621828_960_720.jpg");
}

/* Styles to all of the pages are here*/

h1, h3 {
    margin: 20px;
    padding: 20px;
    text-align: center
}

h2 {
    margin-top: 20px;
}

footer {
    font-weight: bold;
    text-align: center;
}


#kollaasi {
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40rem;
}

img {
    margin-top: 20px;
    width: 18rem;
}

#color{
    background-color: #ffff;
}

.card {
    margin-bottom: 30px;
    margin-left: 0.5%;
    display: inline-block;
}

.btn {
    margin-left: 2%;
    margin-top: 20px;
}

#joblinks {
    margin-top: 50px;
    margin-left: 1%;
}

